mixin link-nav(classname, link, text)
	li(class="" + classname)
		a(href=link)= text
	
mixin social-link(link,imglink)
	li
		a(href=link)
			img(src=imglink, alt="")

mixin portfolio-item(idname, imglink, name, description, href)
	.portfolio-item(class="" + idname)
		.portfolio-img
			img(src=imglink, alt="")
		.portfolio-info-full
			.portfolio-info-text
				h3= name
				p= description
				.circul-block
					a(href=href)
						i(class="fa fa-arrow-right" aria-hidden="true")

mixin tag-item(link, linktext)
	.tag-item
		a(href=link)= linktext

mixin galery-item (link, imglink)
	div 
		a(href=link)
			img(src=imglink, alt="")